html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    max-width: 1000px;
justify-content: center;
align-items: center;
margin: auto;
flex-direction: column;
flex-wrap: wrap;
}
.container h2 {
    font-weight: normal;
    color: #008DDA;
    font-size: 32px;
}
.container h1 {
    color: #008DDA;   
    font-size: 50px;
}
.container p {
font-size: 24px;
}
.poster img {
    width: 400px;
}
.paragraph {
    font-family: "Quicksand", sans-serif;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;  
gap: .5rem;
}
.btn {
    border: none;
    border-radius: 5%;
    background-color: #008DDA;
    margin: 10px 0px;
}
.btn a {
    font-size: 24px;
    text-decoration: none;
color: white;
}
